body {
    display: block;
    margin: 8px;

}
.content-box {
    width: 100%;
    height: 100%;
    display: block;
}
.banner-box {
    width: 100%;
    height: 500px;
    background-color: #310000;
    display: block;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
.header {
    width: 80%;
    margin: auto;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.header-logo p {
    font-size: 250%;
    margin: 0;
}

small {
    color: #c3c3c3;
    box-sizing: border-box;
    font-size: smaller  ;
}
.header-menu ul {
    list-style-type: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}
.header-menu li {
    width: auto;
    height: auto;
    margin: 15px;
    padding: 20px;
    text-align: center;
}

.header-menu ul a {
    cursor: pointer;
    color: white;
    text-decoration: none;
}
#b :hover {
    background-color: #76c38f;
    border-radius: 10px;
    width: 105px;
    height: 25px;
}
.slide-box {
    
}